{% extends "main/base.html" %}


{% block content %}
	<h1 class="display-4 fw-normal">Страница про нас</h1>
	<p class="fs-5 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque vestibulum mauris vitae scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget metus ac sem venenatis fringilla. Phasellus scelerisque vulputate velit, et ultrices velit posuere eget. Suspendisse blandit risus quis fermentum condimentum. Sed tempor eget mi nec pulvinar. Praesent porta ornare ante sed rhoncus. In et arcu tempor, tempus neque vel, iaculis sem. Suspendisse sollicitudin, nunc ac mollis cursus, leo ligula feugiat nibh, vel semper mi justo a elit. Praesent a purus ac ante aliquet ultrices et ut odio. Mauris volutpat, sapien eget hendrerit pellentesque, lacus libero facilisis ligula, eu tincidunt sem turpis sit amet nibh. Donec sagittis elementum magna porta elementum.</p>
{% endblock %}
